@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
}

header {
    height: auto;
    padding: 1.6em;

    img {
        width: 7.5em;
    }
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column-reverse;
    text-align: center;
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 99%));

        .left {
            width: 100%;
            height: auto;
            padding: 3em 1.8em 0 1.8em;

            h1 {
                font-size: 3em;
                text-transform: uppercase;
                color: hsl(0, 36%, 70%);
                font-weight: 300;
                letter-spacing: .2em;
            }

            span {
                color: hsl(0, 6%, 24%);
                font-weight: 600;
            }

            p {
                margin: 0 auto;
                max-width: 450px;
                color: hsl(0, 36%, 70%);
                line-height: 1.5em;
                margin-top: 1.5em;
                margin-bottom: 2em;
            }
        }
    }

    .form {
        height: 3em;
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        display: block;

        button:hover {
            background-image: linear-gradient(135deg, hsla(0, 80%, 86%, 0.685), hsla(0, 74%, 74%, 0.397));
            filter: drop-shadow(0px 8px 15px#f4aaabbf);
        }

        .email {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 3em;
            border: solid 0.0625em;
            border-color: hsla(0, 13%, 61%, 0.651);
            outline: none;
            left: 0;
            top: 0;
            font-family: 'Josefin Sans', sans-serif;
            color: hsla(0, 36%, 70%, 0.521);
            font-size: 1em;
            padding-left: 1.2em;
        }

        .email::placeholder {
            color: hsla(0, 36%, 70%, 0.521);
        }

        button {
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 4.6em;
            border-radius: 3em;
            outline: none;
            border: none;
            background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
            filter: drop-shadow(0px 7px 20px hsla(0, 36%, 70%, 0.507));

            img {
                position: relative;
                left: .2em;
            }
        }

        .error-icon {
            display: none;
            position: absolute;
            top: 25%;
            right: 5em;
        }

        .error-text {
            position: absolute;
            top: 2.4em;
            left: 1.5em;
            font-size: 1em;
            display: none;
        }
    }

    .container .form.error .error-icon {
        display: block;
    }

    .container .form.error .error-text {
        display: block;
        color: hsl(0, 93%, 68%);
        font-size: .9em;
    }

    .right {
        width: 100%;
        height: 18.75em;
        background-image: url('/images/hero-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    @media (min-width: 768px) {
    
        header {
            position: absolute;
            padding-left: 10%;

             img {
                 width: 10em;
             }
        }

        .container {
            flex-direction: row;
            padding-top: 0;
            padding-bottom: 0;

            .right {
                width: 70%;
                height: 100vh;
                background-image: url('/images/hero-desktop.jpg');
            }


            .left {
                width: 100%;
                height: 100vh;
                padding-top: 30vh;
                text-align: left;
                padding-left: 10%;
                background-image: url('/images/bg-pattern-desktop.svg');
                background-repeat: no-repeat;
                background-size: cover;

                p {
                    margin-left: 0;
                    font-size: 1.1em;
                }

                h1 {
                    font-size: 4.2em;
                }
            }
          
        }

        .form {
            margin-left: 0;

            button {
                width: 6em;

                img {
                    top: .1em;
                }
            }

            .error-icon {
                display: none;
                position: absolute;
                top: 25%;
                right: 6em;
            }

        }

    }


